build
.idea
cmake-build-debug
cmake-build-release
duckdb_unittest_tempdir/
.DS_Store
testext
test/python/__pycache__/
test/__pycache__/
.Rhistory
tpch-data/dbgen
.vscode/
*.duckdb
!test/cpp/integration/integration.duckdb
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
dbgen/
test_datasets/tpch-dbgen/
test_datasets/tpch-mod-dbgen/
test_datasets/hits_0.parquet
.venv
cufile.log
4stock_5day_avg_close.csv
*result.csv
*output.txt
*.tsv
# pixi environments
.pixi/*
!.pixi/config.toml
# Generated nightly environment
envs/
compile_commands.json
.cache

# Zed editor settings
.zed
