[submodule "duckdb"]
	path = duckdb
	url = https://github.com/duckdb/duckdb
	branch = main
	ignore = dirty
[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools
	branch = main
[submodule "substrait"]
	path = substrait
	url = https://github.com/sirius-db/duckdb-substrait-extension.git
	branch = main
[submodule "cucascade"]
	path = cucascade
	url = https://github.com/NVIDIA/cuCascade.git
	branch = main
[submodule "duckdb-python"]
	path = duckdb-python
	url = https://github.com/duckdb/duckdb-python.git
[submodule ".claude/claude-tools"]
	path = .claude/claude-tools
	url = https://github.com/sirius-db/claude-tools.git
	branch = main
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Microsoft/vcpkg.git
